<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
    <link rel="stylesheet" href="PhillyStyle.css">
</head>
    <body>
        <div class="box">
            <h1>Video Essay Generator</h1>
            <form>
                <input type="text" name="" placeholder="Chat With Me...">
                <input type="submit" name="" value="Search">
            </form>
            <div class="dropdown">
                <button class="dropbtn">Video Categories</button>
                <div class="dropdown-content">
                  <a href="#">Music</a>
                  <a href="#">Sports</a>
                  <a href="#">Gaming</a>
                  <a href="#">Comedy</a>
                  <a href="#">Travel</a>
                </div>
              </div>
    </body>

</html>